<div class="svg icon" style="width: 34px; height: 34px;">
  <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
    <g fill-rule="evenodd">
      <path d="M12,0 C15.8581267,0 19,3.1329459 19,6.99763052 L19,10 L21.0089096,10 C22.6582294,10 24,11.3398057 24,12.9925398 L24,25.0074602 C24,26.6470745 22.6608432,28 21.0089096,28 L2.99109042,28 C1.34177063,28 0,26.6601943 0,25.0074602 L0,12.9925398 C0,11.3529255 1.33915679,10 2.99109042,10 L5,10 L5,6.99763052 C5,3.13743749 8.13400675,0 12,0 Z M12,2 C9.23857625,2 7,4.23908381 7,6.99833453 L7,10 L17,10 L17,6.99833453 C17,4.23783059 14.7558048,2 12,2 Z M2.99180311,12 C2.44404538,12 2,12.4499488 2,13.0068455 L2,24.9931545 C2,25.5492199 2.45530558,26 2.99180311,26 L21.0081969,26 C21.5559546,26 22,25.5500512 22,24.9931545 L22,13.0068455 C22,12.4507801 21.5446944,12 21.0081969,12 Z M2.99180311,12" style="fill:#900d0c" transform="translate(20,20)"></path>
    </g>
  </svg>
</div>