<div class="svg icon" style="width: 34px; height: 34px;">
  <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
    <g fill-rule="evenodd">
      <path d="M7,0 L9,0 L9,2 L7,2 Z M2.99649048,2 L7,2 L7,4 L9,4 L9,2 L19,2 L19,4 L21,4 L21,2 L25.0035095,2 C26.6495018,2 28,3.33915679 28,4.99109042 L28,23.0089096 C28,24.6582294 26.6584255,26 25.0035095,26 L2.99649048,26 C1.3504982,26 0,24.6608432 0,23.0089096 L0,4.99109042 C0,3.34177063 1.34157448,2 2.99649048,2 Z M19,0 L21,0 L21,2 L19,2 Z M2,7 L2,23.0000398 C2,23.5523026 2.44746922,24 3.00069463,24 L24.9993054,24 C25.5519738,24 26,23.5452911 26,23.0000398 L26,7 Z M2,7" style="fill:#900d0c" transform="translate(18,22)"></path>
    </g>
  </svg>
</div>