<div class="svg icon" style="width: 34px; height: 34px;">
  <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
    <g fill-rule="evenodd">
      <path d="M2.99649048,0 L25.0035095,0 C26.6495018,0 28,1.3437667 28,3.00138694 L28,18.9986131 C28,20.6569187 26.6584255,22 25.0035095,22 L2.99649048,22 C1.3504982,22 0,20.6562333 0,18.9986131 L0,3.00138694 C0,1.34308127 1.34157448,0 2.99649048,0 Z M2,2 L2,19.0066023 C2,19.5552407 2.44746922,20 3.00069463,20 L24.9993054,20 C25.5519738,20 26,19.5550537 26,19.0066023 L26,2 Z M3.76923077,2 L14,9 L24.2307692,2 L26,2 L26,3.08947367 L14,11.3 L2,3.08947367 L2,2 Z M3.76923077,2" style="fill:#900d0c" transform="translate(18,23)"></path>
    </g>
  </svg>
</div>