<div class="stripeInFrame appView iframe desktop en">
    
  <div class="stripeErrorMessage">
    <p>
      Sorry, there was a problem loading Checkout.<br>
      If this persists, please try a different browser.
    </p>
    <p class="stripeErrorMessageFrame">
      <small>This message will automatically close in 5 seconds.</small>
    </p>
  </div>

  <div class="preloader"><div></div></div>

  <div class="overlayView active">
    <!-- 
    <div class="brandingLogoView">
        <a class="poweredStripe" href="/-/powered-by" target="_blank" tabindex="-1"></a>
    </div> 
    -->

    <a class="testMode" href="#" target="_blank" tabindex="-1">TEST MODE</a> 
      
    <form class="checkoutView" method="POST" novalidate="true">
      <div class="backgroundView" style="height: 660px;">
        <div class="backgroundTop"><div></div></div>
        <div class="backgroundBottom" style="height: 900px;"><div></div></div>
      </div>
      <div class="bodyView">
        <div class="layoutView contentView" style="height: 395px;">
          <div class="layoutSubview">
            <header>
              <div class="content">
                <div class="background">
                  <div class="realBackground"></div>
                </div>
                <a class="close"></a>
                <a class="back"></a>
                <div class="image">
                  <img src="https://stripe.com/img/documentation/checkout/marketplace.png">
                </div>
                <div class="title">
                  <h1 id="checkoutName"></h1>
                  <h2 id="checkoutDescription"></h2>
                </div>
              </div>
            </header>
          </div>
          <div class="layoutSubview profileSetting">
            <div class="loggedBarView">
              <div class="inner">
                <div class="loggedBarContent loggedIn">
                  <span></span>
                  <a class="logout">Log out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="layoutSubview payButton">
            <div class="buttonsView">
              <div class="button">
                <div class="inner">
                  <button>
                    <span class="iconTick" id="payAmount"></span>
                    <div class="spinnerContainer">
                      <div class="svgSpinner"></div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="layoutSubview inputPayment">
            <div class="layoutView paymentView">
              <div class="layoutSubview inputEmail">
                <div class="emailInput input">
                  <input class="control" id="email" type="email" x-autocompletetype="email" autocompletetype="email" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Email">
                  <span class="spinnerContainer">
                    <div class="svgSpinner"></div>
                  </span>
                  <% include /partials/_email %>
                </div>
              </div>
              <div class="layoutSubview inputCardNumber">
                <div class="contentSwitcher">
                  <div class="inner">
                    <div class="content">
                      <div class="layoutView cardView">
                        <div class="layoutSubview cardDetails">
                            <div class="cardPaymentView">
                              <div class="cardNumberInput input top">
                                <input class="control" id="card-number" type="tel" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card number">
                                <% include /partials/_cardnumber %>
                                
                                <!-- 
                                <span class="card" style="opacity: 1; transform: translateX(0px); transition: none;"></span>
                                -->
                              </div>
                              <div class="cardExpiresInput input left bottom">
                                <input class="control" id="card-exp" type="tel" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="MM / YY">
                                <% include /partials/_cardexpiry %>
                  
                              </div>
                              <div class="cardCVCInput input right bottom">
                                <input class="control" id="cc-csc" type="tel" autocomplete="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="CVC" maxlength="4">
                                
                                <% include /partials/_cardcvc %>

                              </div>
                            </div>
                        </div>
                        <div class="layoutSubview rememberDetails">
                          <div class="rememberMe">
                            <a class="stripeLink"></a>
                            <div class="labelWithCheckbox">
                              <div class="inner">
                                <a class="checkbox checkbox-remember-me" href="#">
                                  <span class="tick"></span>
                                  <span class="focusRing"></span>
                                </a>
                                <label>Remember me</label>
                              </div>
                            </div>
                            <div class="expandedContainer">
                              <div class="expanded">
                                <p>
                                  For security, please enter your <strong>mobile phone number</strong>:
                                </p>
                                <div class="telInput input">
                                  <input class="control" type="tel" x-autocompletetype="phone-full" autocompletetype="phone-full" autocorrect="off" spellcheck="off" autocapitalize="off" name="phone" placeholder="(555) 123-1234">
                                  <span class="flag"></span>
                                  <% include /partials/_msisdn %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="layoutSubview rememberCheckbox">
                          <div class="labelWithCheckbox">
                            <div class="inner">
                              <a class="checkbox checked" href="#">
                                <span class="tick"></span>
                                <span class="focusRing"></span>
                              </a>
                              <label>Keep me logged in</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="legalLinksView" style="transition: none; transform: translateY(430px);">
        <span class="hidden animated">
          <a href="/-/terms" target="_blank">Terms</a>
          <a href="/-/privacy" target="_blank">Privacy</a>
        </span>
      </div>
    </form>
  </div>
</div>
